<html>
<style type="text/css">
    *{ padding: 0; margin: 0; }
    div{ padding: 4px 48px;}
    a{color:#2E5CD5;cursor: pointer;text-decoration: none}
    a:hover{text-decoration:underline; }
    body{ background: #fff; font-family: "Century Gothic","Microsoft yahei"; color: #333;font-size:18px;}
    h1{ font-size: 100px; font-weight: normal; margin-bottom: 12px; }
    p.text{ line-height: 1.6em; font-size: 42px }</style>
    <div style="padding: 24px 48px;">
        <p class="text"> RapPHP V2.0<br/>
            <span style="font-size:30px"> {{welcome}} </span><br/>

        </p>
        <p >
        <a href="/home/json" >点击查看第一个接口</a><br/>
        <a href="/rap_intercepters" >点击查看第一个拦截器</a><br/>
        <a href="/log/index" >进入Rap Debug</a><br/>
        </p>
    </div>
       <br/>


    </body>
</html>